<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.bit.mapper.BoardMapper">

	<select id="getList" resultType="kr.bit.entity.Board">
		SELECT * FROM tblboard
		ORDER BY boardGroup desc, boardSequence asc
	</select>

	<insert id="insert" parameterType="kr.bit.entity.Board">
		INSERT INTO
		tblboard (idx, memID,title, content, writer,boardGroup, boardSequence,
		boardLevel, boardAvailable)
		SELECT IFNULL(MAX(idx)+1, 1), #{memID},
		#{title}, #{content}, #{writer},
		IFNULL(MAX(boardGroup)+1, 0),0,0,1
		FROM tblBoard
	</insert>

	<insert id="insertSelectKey" parameterType="kr.bit.entity.Board">
		<selectKey keyProperty="idx,boardGroup"
			resultType="kr.bit.entity.Board" order="BEFORE">
			SELECT IFNULL(MAX(idx)+1, 1) as idx,
					IFNULL(MAX(boardGroup)+1, 0) as boardGroup
			FROM tblBoard
		</selectKey>
		INSERT INTO
		tblboard (idx, memID,title, content, writer,boardGroup, boardSequence,
		boardLevel, boardAvailable)
		VALUES(#{idx}, #{memID},#{title}, #{content},#{writer}, #{boardGroup},0,0,1)
	</insert>
	
	<update id="replySeqUpdate" parameterType="kr.bit.entity.Board">
		UPDATE tblBoard
		SET boardSequence = boardSequence +1
		WHERE boardGroup = #{boardGroup} AND boardSequence > #{boardSequence}
	</update>
	
	<insert id="replyInsert" parameterType="kr.bit.entity.Board">
		<selectKey keyProperty="idx,boardGroup"
			resultType="kr.bit.entity.Board" order="BEFORE">
			SELECT IFNULL(MAX(idx)+1, 1) as idx
			FROM tblBoard
		</selectKey>
		INSERT INTO
		tblboard (idx, memID,title, content, writer,boardGroup, boardSequence,
		boardLevel, boardAvailable)
		VALUES(#{idx}, #{memID},#{title}, #{content},#{writer}, #{boardGroup},#{boardSequence},#{boardLevel},1)
	</insert>

	<select id="login" resultType="kr.bit.entity.Member"
		parameterType="kr.bit.entity.Member">
		SELECT * FROM tbl_member
		WHERE memID=#{memID} AND memPwd=#{memPwd}
	</select>
	
	<select id="read" resultType="kr.bit.entity.Board">
		SELECT *
		FROM tblBoard WHERE idx = #{idx}
	</select>
	
	<update id="update" parameterType="kr.bit.entity.Board">
		UPDATE tblBoard SET title=#{title}, content=#{content} WHERE idx =#{idx}
	</update>
	
	<update id="delete">
		UPDATE tblBoard set boardAvailable = 0 WHERE idx=#{idx}
	</update>
	
	
	
</mapper>